body {
    background: #003929;
    color: white;
    h1 {
        color: rgb(227, 187, 187);
    }
    nav .container-fluid {
        background: #011714;
        color: white;
    }
    a {
        color: white;
    }
    span {
        color: white;
    }
}
header {
    background-color: #003929;
}